{% extends 'base.html' %}

{% block content %}

{% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert alert-warning alert-dismissible fade show" role="alert" >
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
{% endfor %}


{% include 'accounts/status.html' %}


<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">

        <div class="col-md-5">
            <h5 class="text nav-text">New Customers: </h5>
            <hr>
            <div class="card card-body">

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Profile</th>
                            <th>Customer</th>
                            <th>country</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in customer %}
                        <tr>
                            <td><a class="btn btn-info btn-sm" href="{% url 'customers_profile' i.id %}">View</a></td>
                            <td>{{i.name}}</td>
                            <td>{{i.country}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <h5 class="text nav-text">Recent Orders: </h5>
            <hr>
            <div class="card card-body">

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Placed</th>
                            <th>Status</th>
                            <th>Update</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order in recent %}
                        <tr>
                            <td>{{order.product.name}}</td>
                            <td>{{order.date_created}}</td>
                            <td>{{order.status}}</td>
                            <td>{{order.date_update}}</td>
                            <td><a class="btn btn-warning" href="{% url 'order_update' order.id %}">Edit</a></td>
                            <td><a class="btn btn-danger" href="{% url 'order_delete' order.id %}">Remove</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock %}
