<div class="container-fluid">
    <h5 class="text nav-text">Orders:</h5>
    <div class="row">

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black mb-3" style="background-color: #C0A9BD;">
                    <div class="card-header">
                        <h5 class="card-title">Total</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{total}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black mb-3" style="background-color: #C0A9BD;">
                    <div class="card-header ">
                        <h5 class="card-title">Delivered</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{delivered}}</h3>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <br>
    <div class="row">

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" style="background-color: #013328;">
                    <div class="card-header">
                        <h5 class="card-title">Shipping</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{shipping}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" style="background-color: #013328;">
                    <div class="card-header">
                        <h5 class="card-title">On the way</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{out_way}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" style="background-color: #013328;">
                    <div class="card-header">
                        <h5 class="card-title">Cancelled</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{cancelled}}</h3>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>